<%= render 'layouts/fuse' %>

<main>
  <div id="wrapper">

    <%= render 'layouts/sidebar' %>

    <div class="content-wrapper">

      <%= render 'layouts/navbar' %>

      <div class="page-content-wrapper custom-scrollbar ps ps--active-y">
        <div class="page-header bg-primary text-auto d-flex flex-column justify-content-between px-6 pt-4 pb-0">
          <div class="row no-gutters align-items-start justify-content-between flex-nowrap">
            <div onclick="(function() { window.open('https://www.youtube.com/watch?v=xJoHxKLJqNI','_blank');})()" style="cursor: default;">
              <span class="h2">Hatz, Johnule!</span>
            </div>
            <button type="button"
                    class="sidebar-toggle-button btn btn-icon d-block d-xl-none fuse-ripple-ready"
                    data-fuse-bar-toggle="dashboard-project-sidebar"
                    aria-label="Toggle sidebar">
              <i class="icon icon-menu"></i>
            </button>
          </div>
        </div>
        <div class="content custom-scrollbar">
          <div class="widget-group row no-gutters">
            <div class="col-12 col-sm-6 col-xl-3 p-3">
              <div class="widget widget1 card">
                <div class="widget-content pt-2 pb-8 d-flex flex-column align-items-center justify-content-center">
                  <div class="title text-secondary"><h1><%= @reports.count(:user_id) %></h1></div>
                  <div class="sub-title h6 text-muted">Reports</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3 p-3">
              <div class="widget widget1 card">
                <div class="widget-content pt-2 pb-8 d-flex flex-column align-items-center justify-content-center">
                  <div class="title text-danger"><h1><%= @expenses.group(:expense_date === Date.current.strftime("%y-%m-%d")).count %></h1></div>
                  <div class="sub-title h6 text-muted">Expenses this day</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3 p-3">
              <div class="widget widget1 card">
                <div class="widget-content pt-2 pb-8 d-flex flex-column align-items-center justify-content-center">
                  <div class="title text-warning"><h1><%= @expenses.count %></h1></div>
                  <div class="sub-title h6 text-muted">Expenses this week</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3 p-3">
              <div class="widget widget1 card">
                <div class="widget-content pt-2 pb-8 d-flex flex-column align-items-center justify-content-center">
                  <div class="title text-info"><h1><%= @tags.count(:user_id) %></h1></div>
                  <div class="sub-title h6 text-muted">Tags</div>
                </div>
              </div>
            </div>
            <div class="col-12 p-3">
              <div class="widget widget5 card">
                <div class="widget-header px-4 row no-gutters align-items-center justify-content-between">
                  <div class="col">
                    <span style="margin-bottom:20px;"class="h6">Weekley expenses</span>
                  </div>
                  <div>
                    <button type="button" class="widget5-option-change-btn btn btn-link fuse-ripple-ready" data-interval="TW">
                      Cash Flow
                    </button>
                  </div>
                </div>
                <div class="widget-content p-4">
                  <div class="row">
                    <div class="col-12 col-lg-6">
                      <div id="widget5-main-chart">
                      <div class="container">
                      <%= column_chart @expenses.group_by_day_of_week(:expense_date,format: "%a").count %>
                    </div>
                    </div>
                    </div>
                    <div class="col-12 col-lg-6">
                      <div id="widget5-supporting-charts" class="row">
                        <div class="col-6 p-4">
                          <div id="widget5-created-chart">
                            <div class="h6 text-muted">RON</div>
                            <div class="h2 count">1</div>
                            <div class="chart-wrapper">
                              <svg class="nvd3-svg">
                                <g class="nvd3 nv-wrap nv-lineChart" transform="translate(0,8)">
                                  <g>
                                    <g class="nv-legendWrap"></g>
                                    <g class="nv-focus">
                                      <g class="nv-background">
                                        <rect width="309" height="42"></rect>
                                      </g>
                                      <g class="nv-x nv-axis" transform="translate(0,42)"></g>
                                      <g class="nv-y nv-axis"></g>
                                      <g class="nv-linesWrap nvd3-svg">
                                        <g class="nvd3 nv-wrap nv-line" transform="translate(0,0)">
                                          <defs>
                                            <clipPath id="nv-edge-clip-20457">
                                              <rect width="309" height="42"></rect>
                                            </clipPath>
                                          </defs>
                                          <g clip-path="url(#nv-edge-clip-20457)">
                                            <g class="nv-groups">
                                              <g style="stroke-opacity: 1; stroke-width: 1.5; fill-opacity: 0.5; fill: rgb(3, 169, 244); stroke: rgb(3, 169, 244);" class="nv-group nv-series-0">
                                                <path class="nv-area" d="M0,42Q41.199999999999996,42,51.5,42C66.95,42,87.55,42,103,42S139.05,42,154.5,42S190.55,42,206,42S242.05,42,257.5,42Q267.8,42,309,42L309,23.333333333333336Q267.8,6.533333333333336,257.5,4.666666666666669C242.05,1.866666666666668,221.45,1.866666666666668,206,4.666666666666669S169.95,18.433333333333337,154.5,23.333333333333336S118.45,35.93333333333333,103,37.33333333333333S66.95,34.06666666666666,51.5,32.666666666666664Q41.199999999999996,31.73333333333333,0,28.000000000000004Z"></path>
                                                <path class="nv-line" d="M0,28.000000000000004Q41.199999999999996,31.73333333333333,51.5,32.666666666666664C66.95,34.06666666666666,87.55,38.73333333333333,103,37.33333333333333S139.05,28.233333333333334,154.5,23.333333333333336S190.55,7.4666666666666694,206,4.666666666666669S242.05,1.866666666666668,257.5,4.666666666666669Q267.8,6.533333333333336,309,23.333333333333336"></path>
                                              </g>
                                            </g>
                                            <g class="nv-scatterWrap nvd3-svg" clip-path="url(#nv-edge-clip-20457)">
                                              <g class="nvd3 nv-wrap nv-scatter nv-chart-20457" transform="translate(0,0)">
                                                <defs>
                                                  <clipPath id="nv-edge-clip-20457">
                                                    <rect transform="translate( -10, -10)" width="329" height="62"></rect>
                                                  </clipPath>
                                                </defs>
                                                <g clip-path="">
                                                  <g class="nv-groups">
                                                    <g style="stroke-opacity: 1; fill-opacity: 0.5; stroke: rgb(3, 169, 244); fill: rgb(3, 169, 244);" class="nv-group nv-series-0 nv-noninteractive">
                                                      <path class="nv-point nv-point-0" transform="translate(0,28.000000000000004)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z"></path>
                                                      <path class="nv-point nv-point-1" transform="translate(51.5,32.666666666666664)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z"></path>
                                                      <path class="nv-point nv-point-2" transform="translate(103,37.33333333333333)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z"></path>
                                                      <path class="nv-point nv-point-3" transform="translate(154.5,23.333333333333336)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z"></path>
                                                      <path class="nv-point nv-point-4" transform="translate(206,4.666666666666669)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z"></path>
                                                      <path class="nv-point nv-point-5" transform="translate(257.5,4.666666666666669)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z"></path>
                                                      <path class="nv-point nv-point-6" transform="translate(309,23.333333333333336)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z"></path>
                                                    </g>
                                                  </g>
                                                  <g class="nv-point-paths"></g>
                                                </g>
                                                <g class="nv-point-clips"></g>
                                              </g>
                                            </g>
                                          </g>
                                        </g>
                                      </g>
                                      <g class="nv-interactive">
                                        <g class=" nv-wrap nv-interactiveLineLayer">
                                          <g class="nv-interactiveGuideLine"></g>
                                        </g>
                                      </g>
                                    </g>
                                    <g class="nv-focusWrap"></g>
                                  </g>
                                </g>
                              </svg>
                            </div>
                          </div>
                        </div>
                        <div class="col-6 p-4">
                          <div id="widget5-closed-chart">
                            <div class="h6 text-muted">EUR</div>
                            <div class="h2 count">4.74</div>
                            <div class="chart-wrapper">
                              <svg class="nvd3-svg">
                                <g class="nvd3 nv-wrap nv-lineChart" transform="translate(0,8)">
                                  <g>
                                    <g class="nv-legendWrap"></g>
                                    <g class="nv-focus">
                                      <g class="nv-background">
                                        <rect width="309" height="42"></rect>
                                      </g>
                                      <g class="nv-x nv-axis" transform="translate(0,42)"></g>
                                      <g class="nv-y nv-axis"></g>
                                      <g class="nv-linesWrap nvd3-svg">
                                        <g class="nvd3 nv-wrap nv-line" transform="translate(0,0)">
                                          <defs>
                                            <clipPath id="nv-edge-clip-83371">
                                              <rect width="309" height="42"></rect>
                                            </clipPath>
                                          </defs>
                                          <g clip-path="url(#nv-edge-clip-83371)">
                                            <g class="nv-groups">
                                              <g style="stroke-opacity: 1; stroke-width: 1.5; fill-opacity: 0.5; fill: rgb(3, 169, 244); stroke: rgb(3, 169, 244);" class="nv-group nv-series-0">
                                                <path class="nv-area" d="M0,42Q41.199999999999996,42,51.5,42C66.95,42,87.55,42,103,42S139.05,42,154.5,42S190.55,42,206,42S242.05,42,257.5,42Q267.8,42,309,42L309,9.333333333333332Q267.8,22.400000000000002,257.5,23.333333333333336C242.05,24.733333333333334,221.45,19.366666666666664,206,18.666666666666664S169.95,20.066666666666663,154.5,18.666666666666664S118.45,7.933333333333331,103,9.333333333333332S66.95,27.300000000000004,51.5,28.000000000000004Q41.199999999999996,28.466666666666672,0,14.000000000000002Z"></path>
                                                <path class="nv-line" d="M0,14.000000000000002Q41.199999999999996,28.466666666666672,51.5,28.000000000000004C66.95,27.300000000000004,87.55,10.733333333333333,103,9.333333333333332S139.05,17.266666666666666,154.5,18.666666666666664S190.55,17.966666666666665,206,18.666666666666664S242.05,24.733333333333334,257.5,23.333333333333336Q267.8,22.400000000000002,309,9.333333333333332"></path>
                                              </g>
                                            </g>
                                            <g class="nv-scatterWrap nvd3-svg" clip-path="url(#nv-edge-clip-83371)">
                                              <g class="nvd3 nv-wrap nv-scatter nv-chart-83371" transform="translate(0,0)">
                                                <defs>
                                                  <clipPath id="nv-edge-clip-83371">
                                                    <rect transform="translate( -10, -10)" width="329" height="62"></rect>
                                                  </clipPath>
                                                </defs>
                                                <g clip-path="">
                                                  <g class="nv-groups">
                                                    <g style="stroke-opacity: 1; fill-opacity: 0.5; stroke: rgb(3, 169, 244); fill: rgb(3, 169, 244);" class="nv-group nv-series-0 nv-noninteractive">
                                                      <path class="nv-point nv-point-0" transform="translate(0,14.000000000000002)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z"></path>
                                                      <path class="nv-point nv-point-1" transform="translate(51.5,28.000000000000004)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z"></path>
                                                      <path class="nv-point nv-point-2" transform="translate(103,9.333333333333332)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z"></path>
                                                      <path class="nv-point nv-point-3" transform="translate(154.5,18.666666666666664)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z"></path>
                                                      <path class="nv-point nv-point-4" transform="translate(206,18.666666666666664)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z"></path>
                                                      <path class="nv-point nv-point-5" transform="translate(257.5,23.333333333333336)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z"></path>
                                                      <path class="nv-point nv-point-6" transform="translate(309,9.333333333333332)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z"></path>
                                                    </g>
                                                  </g>
                                                  <g class="nv-point-paths"></g>
                                                </g>
                                                <g class="nv-point-clips"></g>
                                              </g>
                                            </g>
                                          </g>
                                        </g>
                                      </g>
                                      <g class="nv-interactive">
                                        <g class=" nv-wrap nv-interactiveLineLayer">
                                          <g class="nv-interactiveGuideLine"></g>
                                        </g>
                                      </g>
                                    </g>
                                    <g class="nv-focusWrap"></g>
                                  </g>
                                </g>
                              </svg>
                            </div>
                          </div>
                        </div>
                        <div class="col-6 p-4">
                          <div id="widget5-re-opened-chart">
                            <div class="h6 text-muted">USD</div>
                            <div class="h2 count">4.27</div>
                            <div class="chart-wrapper">
                              <svg class="nvd3-svg">
                                <g class="nvd3 nv-wrap nv-lineChart" transform="translate(0,8)">
                                  <g>
                                    <g class="nv-legendWrap"></g>
                                    <g class="nv-focus">
                                      <g class="nv-background">
                                        <rect width="309" height="42"></rect>
                                      </g>
                                      <g class="nv-x nv-axis" transform="translate(0,42)"></g>
                                      <g class="nv-y nv-axis"></g>
                                      <g class="nv-linesWrap nvd3-svg">
                                        <g class="nvd3 nv-wrap nv-line" transform="translate(0,0)">
                                          <defs>
                                            <clipPath id="nv-edge-clip-83106">
                                              <rect width="309" height="42"></rect>
                                            </clipPath>
                                          </defs>
                                          <g clip-path="url(#nv-edge-clip-83106)">
                                            <g class="nv-groups">
                                              <g style="stroke-opacity: 1; stroke-width: 1.5; fill-opacity: 0.5; fill: rgb(3, 169, 244); stroke: rgb(3, 169, 244);" class="nv-group nv-series-0">
                                                <path class="nv-area" d="M0,42Q41.199999999999996,42,51.5,42C66.95,42,87.55,42,103,42S139.05,42,154.5,42S190.55,42,206,42S242.05,42,257.5,42Q267.8,42,309,42L309,23.333333333333336Q267.8,6.533333333333336,257.5,4.666666666666669C242.05,1.866666666666668,221.45,1.866666666666668,206,4.666666666666669S169.95,18.433333333333337,154.5,23.333333333333336S118.45,35.93333333333333,103,37.33333333333333S66.95,34.06666666666666,51.5,32.666666666666664Q41.199999999999996,31.73333333333333,0,28.000000000000004Z"></path>
                                                <path class="nv-line" d="M0,28.000000000000004Q41.199999999999996,31.73333333333333,51.5,32.666666666666664C66.95,34.06666666666666,87.55,38.73333333333333,103,37.33333333333333S139.05,28.233333333333334,154.5,23.333333333333336S190.55,7.4666666666666694,206,4.666666666666669S242.05,1.866666666666668,257.5,4.666666666666669Q267.8,6.533333333333336,309,23.333333333333336"></path>
                                              </g>
                                            </g>
                                            <g class="nv-scatterWrap nvd3-svg" clip-path="url(#nv-edge-clip-83106)">
                                              <g class="nvd3 nv-wrap nv-scatter nv-chart-83106" transform="translate(0,0)">
                                                <defs>
                                                  <clipPath id="nv-edge-clip-83106">
                                                    <rect transform="translate( -10, -10)" width="329" height="62"></rect>
                                                  </clipPath>
                                                </defs>
                                                <g clip-path="">
                                                  <g class="nv-groups">
                                                    <g style="stroke-opacity: 1; fill-opacity: 0.5; stroke: rgb(3, 169, 244); fill: rgb(3, 169, 244);" class="nv-group nv-series-0 nv-noninteractive">
                                                      <path class="nv-point nv-point-0" transform="translate(0,28.000000000000004)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z"></path>
                                                      <path class="nv-point nv-point-1" transform="translate(51.5,32.666666666666664)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z"></path>
                                                      <path class="nv-point nv-point-2" transform="translate(103,37.33333333333333)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z"></path>
                                                      <path class="nv-point nv-point-3" transform="translate(154.5,23.333333333333336)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z"></path>
                                                      <path class="nv-point nv-point-4" transform="translate(206,4.666666666666669)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z"></path>
                                                      <path class="nv-point nv-point-5" transform="translate(257.5,4.666666666666669)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z"></path>
                                                      <path class="nv-point nv-point-6" transform="translate(309,23.333333333333336)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z"></path>
                                                    </g>
                                                  </g>
                                                  <g class="nv-point-paths"></g>
                                                </g>
                                                <g class="nv-point-clips"></g>
                                              </g>
                                            </g>
                                          </g>
                                        </g>
                                      </g>
                                      <g class="nv-interactive">
                                        <g class=" nv-wrap nv-interactiveLineLayer">
                                          <g class="nv-interactiveGuideLine"></g>
                                        </g>
                                      </g>
                                    </g>
                                    <g class="nv-focusWrap"></g>
                                  </g>
                                </g>
                              </svg>
                            </div>
                          </div>
                        </div>
                        <div class="col-6 p-4">
                          <div id="widget5-wont-fix-chart">
                            <div class="h6 text-muted">GBP</div>
                            <div class="h2 count">5.42</div>
                            <div class="chart-wrapper">
                              <svg class="nvd3-svg">
                                <g class="nvd3 nv-wrap nv-lineChart" transform="translate(0,8)">
                                  <g>
                                    <g class="nv-legendWrap"></g>
                                    <g class="nv-focus">
                                      <g class="nv-background">
                                        <rect width="309" height="42"></rect>
                                      </g>
                                      <g class="nv-x nv-axis" transform="translate(0,42)"></g>
                                      <g class="nv-y nv-axis"></g>
                                      <g class="nv-linesWrap nvd3-svg">
                                        <g class="nvd3 nv-wrap nv-line" transform="translate(0,0)">
                                          <defs>
                                            <clipPath id="nv-edge-clip-37108">
                                              <rect width="309" height="42"></rect>
                                            </clipPath>
                                          </defs>
                                          <g clip-path="url(#nv-edge-clip-37108)">
                                            <g class="nv-groups">
                                              <g style="stroke-opacity: 1; stroke-width: 1.5; fill-opacity: 0.5; fill: rgb(3, 169, 244); stroke: rgb(3, 169, 244);" class="nv-group nv-series-0">
                                                <path class="nv-area" d="M0,42Q41.199999999999996,42,51.5,42C66.95,42,87.55,42,103,42S139.05,42,154.5,42S190.55,42,206,42S242.05,42,257.5,42Q267.8,42,309,42L309,9.333333333333332Q267.8,23.333333333333336,257.5,23.333333333333336C242.05,23.333333333333336,221.45,10.033333333333333,206,9.333333333333332S169.95,16.566666666666663,154.5,18.666666666666664S118.45,23.333333333333336,103,23.333333333333336S66.95,20.066666666666663,51.5,18.666666666666664Q41.199999999999996,17.73333333333333,0,14.000000000000002Z"></path>
                                                <path class="nv-line" d="M0,14.000000000000002Q41.199999999999996,17.73333333333333,51.5,18.666666666666664C66.95,20.066666666666663,87.55,23.333333333333336,103,23.333333333333336S139.05,20.766666666666666,154.5,18.666666666666664S190.55,8.633333333333331,206,9.333333333333332S242.05,23.333333333333336,257.5,23.333333333333336Q267.8,23.333333333333336,309,9.333333333333332"></path>
                                              </g>
                                            </g>
                                            <g class="nv-scatterWrap nvd3-svg" clip-path="url(#nv-edge-clip-37108)">
                                              <g class="nvd3 nv-wrap nv-scatter nv-chart-37108" transform="translate(0,0)">
                                                <defs>
                                                  <clipPath id="nv-edge-clip-37108">
                                                    <rect transform="translate( -10, -10)" width="329" height="62"></rect>
                                                  </clipPath>
                                                </defs>
                                                <g clip-path="">
                                                  <g class="nv-groups">
                                                    <g style="stroke-opacity: 1; fill-opacity: 0.5; stroke: rgb(3, 169, 244); fill: rgb(3, 169, 244);" class="nv-group nv-series-0 nv-noninteractive">
                                                      <path class="nv-point nv-point-0" transform="translate(0,14.000000000000002)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z"></path>
                                                      <path class="nv-point nv-point-1" transform="translate(51.5,18.666666666666664)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z"></path>
                                                      <path class="nv-point nv-point-2" transform="translate(103,23.333333333333336)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z"></path>
                                                      <path class="nv-point nv-point-3" transform="translate(154.5,18.666666666666664)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z"></path>
                                                      <path class="nv-point nv-point-4" transform="translate(206,9.333333333333332)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z"></path>
                                                      <path class="nv-point nv-point-5" transform="translate(257.5,23.333333333333336)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z"></path>
                                                      <path class="nv-point nv-point-6" transform="translate(309,9.333333333333332)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z"></path>
                                                    </g>
                                                  </g>
                                                  <g class="nv-point-paths"></g>
                                                </g>
                                                <g class="nv-point-clips"></g>
                                              </g>
                                            </g>
                                          </g>
                                        </g>
                                      </g>
                                      <g class="nv-interactive">
                                        <g class=" nv-wrap nv-interactiveLineLayer">
                                          <g class="nv-interactiveGuideLine"></g>
                                        </g>
                                      </g>
                                    </g>
                                    <g class="nv-focusWrap"></g>
                                  </g>
                                </g>
                              </svg>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 p-3">
              <div class="widget widget1 card">
                <div class="widget-header pl-4 pr-2 row no-gutters align-items-center justify-content-between">
                  <div class="col">
                    <span class="h6">Year overview</span>
                  </div>
                </div>
                <div class="widget-content p-4">
                  <div id="widget1-main-chart">
                  <%= line_chart @expenses.group_by_month(:expense_date).count %>
                 </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 p-3">
              <div class="widget widget6 card">
                <div class="widget-header px-4 row no-gutters align-items-center justify-content-between">
                  <div class="col">
                    <span class="h6">All tags</span>
                  </div>
                </div>
                <div class="widget-content">
                  <div class="row no-gutters">
                    <div class="col-12">
                      <div id="widget6-main-chart" class="p-4">
                      <div class="container">
                      <%= pie_chart @tags.group(:title).count %>
                    </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 p-3">
              <div class="widget widget-7 card">
                <div class="widget-header px-4 row no-gutters align-items-center justify-content-between">
                  <div class="col">
                    <span class="h6">Recently added</span>
                  </div>
                </div>
                <div class="widget-content p-4">
                <% @expenses.each do |expense| %>

                  <div class="py-4 row no-gutters align-items-center justify-content-between">
                    <div class="col">
                      <div class="h6"><%= expense.title %></div>
                      <div>
                        <span class="text-muted"><%= expense.expense_date %></span>
                      </div>
                    </div>
                    <div class="col-auto">
                      <span class="text-muted"><%= expense.amount %><%= expense.currency %></span>
                    </div>
                  </div>
                  <% end %>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>