<%= form_for(@tag,class: "justify-content-center") do |f| %>
  <%= render 'error_messages', object: @tag %>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control', required: true, minlength: 1, maxlength: 500 %>
    </div>
  
    <%= f.submit @button_text, class: "btn btn-block btn-primary" %>
  <% end %>
  