<%= form_for(@expense,class: "justify-content-center") do |f| %>
  <%= render 'error_messages', object: @expense %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', required: true, minlength: 1, maxlength: 500 %>
  </div>

  <div class="form-group">
  <labeL>Tags</label>
 
  <%= select_tag("tag_ids[]", 
                  options_for_select(Tag.all.collect { |tag| [tag.title,tag.id] },
                  @expense.tags.collect { |tag| tag.id}),
                  {:multiple => true, :class => "form-control","data-style" => "btn-primary"})%>

</div>
  <div class="form-group">
    <%= f.label :amount %>
    <%= f.number_field :amount, class: 'form-control', step: :any, required: true, min: 0 %>
  </div>

  <div class="form-group">
    <%= f.label :currency %>
    <%= f.collection_select :currency, Expense.currencies.to_a.map {|w| [w[0], w[0].humanize.upcase]},
                            :first, :second, {}, {:class => 'form-control', "data-style" => "btn-primary"} %>
  </div>

  <div class="form-group">
    <%= f.label :expense_date %>
    <%= f.date_field :expense_date, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= f.label :images %>
    <%= f.file_field :images, class: 'form-control', accept: 'image/*', multiple: true %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control', maxlength: 2000 %>
  </div>

  <%= f.submit @button_text, class: "btn btn-block btn-primary" %>
<% end %>
