<%= form_for(@expense, :url => {:action => "handle_images_post"}, class: "justify-content-center") do |f| %>
  <%= render 'error_messages', object: @expense %>

  <div class="form-group">
    <%= f.label :images %>
    <%= f.file_field :images, class: 'form-control', accept: 'image/*', multiple: true, required: true %>
  </div>

  <%= f.submit @button_text, class: "btn btn-block btn-primary" %>
<% end %>
