<%= render 'layouts/fuse' %>

<main>

  <div id="wrapper">

    <%= render 'layouts/sidebar' %>

    <div class="content-wrapper">
      <%= render 'layouts/navbar' %>
      <div class="content custom-scrollbar">

        <div class="page-layout blank p-6">

          <div class="jumbotron jumbotron-title">
            <h2 class="display-4">Your Expenses</h2>
          </div>


          <div class="custom-table-container">
            </br>

            <div class="text-center">
              <%= link_to new_expense_path(@expense), class: "btn btn-sm btn-info" do %>
                <i class="fas fa-plus-circle"></i> Add New Expense
              <% end %>
            </div>

            <% if @expenses.length > 0 %>
              <table id="expenses_table" class="container">
                <thead>
                <tr>
                  <th><h1>Expense Title</h1></th>
                  <th><h1>Amount</h1></th>
                  <th><h1>Date</h1></th>
                  <th><h1>Description</h1></th>
                  <th><h1>Actions</h1></th>
                </tr>
                </thead>
                <tbody>
                <% @expenses.each do |expense| %>
                  <tr>
                    <td><%= link_to expense.title, expense_path(expense) %></td>
                    <td><%= expense.amount.to_s + ' ' + expense.currency.to_s.humanize.upcase %></td>
                    <td><%= expense.expense_date %></td>
                    <td><%= expense.description %></td>
                    <td>

                      <%= link_to edit_expense_path(expense), class: "btn btn-sm btn-info" do %>
                        <i class="fas fa-edit"></i>
                      <% end %>

                      <%= link_to expense_path(expense), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-sm btn-danger" do %>
                        <i class="fas fa-trash-alt"></i>
                      <% end %>

                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            <% else %>
              DE ADAUGAT UN MESAJ FRUMOS PENTRU TABELELE VIDE

            <% end %>
          </div>

        </div>

      </div>
    </div>

  </div>
</main>


<script type="text/javascript">

    <% if @expenses.length > 0 %>
    $(document).ready(function () {
        $('#expenses_table').DataTable();
    });
    <% end %>

</script>