<%= render 'layouts/fuse' %>

<main>

  <div id="wrapper">

    <%= render 'layouts/sidebar' %>

    <div class="content-wrapper">
      <%= render 'layouts/navbar' %>
      <div class="content custom-scrollbar">

        <div class="page-layout blank p-6">
          <div class="jumbotron jumbotron-title">
            <h2 class="display-4">Your Reports</h2>
          </div>


          <div class="table-container">
            </br>

            <div class="text-center">
              <%= link_to new_report_path(@report), class: "btn btn-info" do %>
                <i class="fas fa-plus-circle"></i> Create New Report
              <% end %>
            </div>

            <% if @reports.length > 0 %>
              <table id="reports_table" class="container">
                <thead>
                <tr>
                  <th><h1>Report Title</h1></th>
                  <th><h1>From Date</h1></th>
                  <th><h1>To Date</h1></th>
                  <th><h1>Description</h1></th>
                  <th><h1>Actions</h1></th>
                </tr>
                </thead>
                <tbody>

                <% @reports.each do |report| %>
                  <tr>
                    <td><%= link_to report.title, report_path(report) %></td>
                    <td><%= report.from_date %></td>
                    <td><%= report.to_date %></td>
                    <td><%= report.description %></td>
                    <td>

                      <%= link_to edit_report_path(report), class: "btn btn-info" do %>
                        <i class="fas fa-edit"></i>
                      <% end %>

                      <%= link_to report_path(report), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" do %>
                        <i class="fas fa-trash-alt"></i>
                      <% end %>

                    </td>
                  </tr>
                <% end %>


                </tbody>
              </table>

            <% else  %>

              <div class="p-3 no-expenses-msg">
                <section id="warning">
                  <section class="warningContent">
                    <span>!</span>
                    <h5 class="wHeading">We are sorry</h5>
                    <p>You don't have any reports on our platform!</p>
                  </section>
                </section>
              </div>

            <% end %>
          </div>
        </div>

      </div>
    </div>

  </div>
</main>




<script type="text/javascript">

    <% if @reports.length > 0 %>
    $(document).ready(function () {
        $('#reports_table').DataTable({
            columnDefs: [{
                targets: [4]
            }]
        });
    });
    <% end %>


</script>
