<%= content_for :stylesheets do %>
  <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
        media="all" data-turbolinks-track="reload"/>
  <style>
    ::-webkit-scrollbar {
      width: 5px;
    }

    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
      background: #888;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  </style>
<% end %>

<%= content_for :scripts do %>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"
          media="all" data-turbolinks-track="reload" defer></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/datepicker.min.js"
          media="all" data-turbolinks-track="reload" defer></script>
<% end %>

<div class="jumbotron jumbotron-title">
  <h2 class="display-4"><%= t('reports.view_report') %></h2>
</div>

</br>
</br>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 toppad">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><%= @report.title %></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class=" col-md-12 col-lg-12 ">
              <table class="table table-user-information">
                <tbody>
                <tr>
                  <td><%= t('reports.from_date') %></td>
                  <td><%= @report.from_date %></td>
                </tr>
                <tr>
                  <td><%= t('reports.to_date') %></td>
                  <td><%= @report.to_date %></td>
                </tr>
                <tr>
                  <td><%= t('reports.currency') %></td>
                  <td><%= @report.currency.to_s.humanize.upcase %></td>
                </tr>
                <tr>
                  <td><%= t('reports.description') %></td>
                  <td><%= @report.description %></td>
                </tr>
                </tbody>
              </table>

              <%= link_to "Back to My Reports", action: "index", class: "btn btn-primary" %>

            </div>
          </div>
        </div>
        <div class="panel-footer">

          <%= link_to edit_report_path(@report), class: "btn btn-info" do %>
            <i class="fas fa-edit"></i>
          <% end %>

          <span class="pull-right">

            <%= link_to report_path(@report), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>

          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h3>Pie chart</h3>
  <%= pie_chart @report.expenses.group(:currency).count %>
</div>

<div class="container">
  <h3>Bar chart</h3>
  <%= bar_chart @report.expenses.group(:amount).count %>
</div>

<div class="container">
  <h3>Line chart</h3>
  <%= line_chart @report.expenses.group_by_day(:expense_date, format: "%B %d, %Y").count, discrete: true %>
</div>

<div class="jumbotron jumbotron-title">
  <h2 class="display-4"><%= t('reports.expenses') %></h2>
</div>

<div class="table-container">
  <table id="expenses_table" class="container">
    <thead>
    <tr>
      <th><h1><%= t('expenses.title') %></h1></th>
      <th><h1><%= t('expenses.amount') %></h1></th>
      <th><h1><%= t('expenses.expense_date') %></h1></th>
      <th><h1><%= t('expenses.description') %></h1></th>
      <th><h1><%= t('expenses.actions') %></h1></th>
    </tr>
    </thead>
    <tbody>

    <% @report.expenses.each do |expense| %>

      <tr>
        <td><%= link_to expense.title, expense_path(expense) %></td>
        <td><%= expense.amount %></td>
        <td><%= expense.expense_date %></td>
        <td><%= expense.description %></td>
        <td>

          <%= link_to :action => "remove_expense_from_report",
                      :report_id => @report.id,
                      :expense_id => expense.id,
                      data: {confirm: 'Are you sure?'},
                      class: "btn btn-danger" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>

        </td>
      </tr>

    <% end %>

    </tbody>
  </table>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        $('#expenses_table').DataTable();
    });

</script>

<style>

  .user-row {
    margin-bottom: 14px;
  }

  .user-row:last-child {
    margin-bottom: 0;
  }

  .dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
  }

  .dropdown-user:hover {
    cursor: pointer;
  }

  .table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
  }

  .table-user-information > tbody > tr:first-child {
    border-top: 0;
  }

  .table-user-information > tbody > tr > td {
    border-top: 0;
  }

  .toppad {
    margin-top: 20px;
  }

  @charset "UTF-8";
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

  .table-container {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    color: #A7A1AE;
    background-color: #1F2739;
    padding-bottom: 30px;
  }

  .table-container h1 {
    font-size: 3em;
    font-weight: 300;
    line-height: 1em;
    text-align: center;
    color: #4DC3FA;
  }

  .table-container h2 {
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    display: block;
    line-height: 1em;
    padding-bottom: 2em;
    color: #FB667A;
  }

  .table-container h2 a {
    font-weight: 700;
    text-transform: uppercase;
    color: #FB667A;
    text-decoration: none;
  }

  .table-container .blue {
    color: #185875;
  }

  .table-container .yellow {
    color: #FFF842;
  }

  .table-container .container th h1 {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    color: #185875;
  }

  .table-container .container td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
  }

  .table-container .container {
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
  }

  .table-container .container td, .container th {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
  }

  /* Background-color of the odd rows */
  .table-container .container tr:nth-child(odd) {
    background-color: #323C50;
  }

  /* Background-color of the even rows */
  .table-container .container tr:nth-child(even) {
    background-color: #2C3446;
  }

  .table-container .container th {
    background-color: #1F2739;
  }

  .table-container .container td:first-child {
    color: #FB667A;
  }

  .table-container .container tr:hover {
    background-color: #464A52;
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: 0 6px 6px -6px #0E1119;
  }

  .table-container .container td:hover {
    background-color: #FFF842;
    color: #403E10;
    font-weight: bold;

    box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
    transform: translate3d(6px, -6px, 0);

    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
  }

  @media (max-width: 800px) {
    .table-container .container td:nth-child(4),
    .table-container .container th:nth-child(4) {
      display: none;
    }
  }

  .jumbotron {
    margin-bottom: 0 !important;
  }

</style>